[project]
	description = A Minecraft Server Control Panel written in Python, soon to be redone in Java.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Spideynn (spideynn)
[access "refs/for/refs/*"]
	read = group user/Spideynn (spideynn)
	push = group user/Spideynn (spideynn)
	label-Code-Review = -2..+2 group user/Spideynn (spideynn)
	label-Verified = -1..+1 group user/Spideynn (spideynn)
	rebase = group user/Spideynn (spideynn)
	removeReviewer = group user/Spideynn (spideynn)
	submit = group user/Spideynn (spideynn)
[access "refs/heads/*"]
	read = group user/Spideynn (spideynn)
	create = group user/Spideynn (spideynn)
	push = +force group user/Spideynn (spideynn)
	pushMerge = group user/Spideynn (spideynn)
[access "refs/tags/*"]
	push = +force group user/Spideynn (spideynn)
	pushTag = group user/Spideynn (spideynn)
	pushSignedTag = group user/Spideynn (spideynn)
